.targetaPokemon{
    margin: 0 auto;
    
    background: var(--card-color);
    color:rgb(255, 255, 255);
    width: 50%;
    max-width: 400px;
    padding: 1rem;
    padding-bottom: 3.5rem;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border: 1px solid rgb(212, 212, 212);
    border-radius: 20px; 
}

.datos{
    color:black;
}

.imagenLista{
    width: 70%;
    height: 70%;
}

div.type{
    display: flex;
    flex-direction: column;
    font-size: 0.875em;
}
div.Grass {
    background: rgb(58, 199, 58);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto;
}

div.Poison {
    background: blueviolet;
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto;
}

div.Fire {
    background: rgb(241, 117, 59);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto;
}

div.Water {
    background: rgb(116, 116, 247);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto;
}
div.Flying {
    background: rgb(129, 129, 255);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto;
}

div.Bug {
    background: goldenrod;
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto;
}
div.Normal {
    background: rgb(146, 146, 145);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto;
}
div.Electric{
    background: rgb(241, 241, 36);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto;
}

div.Ground{
    background: #804000;
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto;

}

div.Fairy{
    background: pink;
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto;
}

div.Psychic{
    background: rgb(204, 129, 170);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto;   
}

div.Fighting{
    background: rgb(80, 69, 2);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto; 
}

div.Rock{
    background: rgb(39, 34, 3);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto; 
}

div.Steel{
    background: rgb(117, 117, 117);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto; 
}


div.Ice{
    background: rgb(184, 230, 241);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto; 
}


div.Ghost{
    background: rgb(116, 0, 106);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto; 
}

div.Dragon{
    background: rgb(54, 0, 116);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 20px; 
    margin: 0 auto; 
}
